<%- include("partials/header") -%>

<div class="container container-login">
    <div class="about-content">
        <p>Namaste! This is Chiragkumar Gohil. I created this web application as a hobby. This web application allows one to keep track on one's personal ledger. One can save the data of whether one owes money to someone or if someone owes money to one. This web application also allows one to send a reminder to a person via email.</p>
        <br>
        <p>This project made use of NodeJS, ExpressJS, EJS, and MongoDB.</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/cmgohil10"><img src="icons/linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/chiragkumargohil"><img src="icons/github.png" alt="GitHub"></a>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>