<%- include("partials/header") -%>

<div class="container container-login">
    <div class="login-content">
        <p>Hi! Welcome to the Money Tracker Web Application, Keep your personal ledger and notify your buddy via email.</p>
        <br>
        <p>Let's see how...</p>
        <!-- <iframe src="https://www.youtube.com/embed/T94PHkuydcw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>
</div>
<a href="/auth/google" class="google-login">
    <img src="icons/google.png" alt="google-icon">
    <span>Continue with Google</span>
</a>

<%- include("partials/footer") -%>