:root {
    --main-color: rgba(80, 124, 81, 1);
    --back-color: #F9F7F7;
    --seco-color: #393E46;
    --border-style: 0 0 8px gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 12px;
    background-color: var(--back-color);
    font-family: 'Oxygen', sans-serif;
}

p {
    margin-bottom: unset;
}

#loader {
    display: none;
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--main-color);
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    width: 72px;
    height: 72px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dropdown-item:active {
    background-color: var(--main-color);
}

#logout {
    display: none;
}

/* HOME PAGE */

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgb(80, 124, 122);
    background: linear-gradient(320deg, rgba(80, 124, 122, 1) 0%, rgba(80, 124, 81, 1) 100%);
    color: white;
    padding: 8px 12px;
    max-width: 512px;
    margin: 36px auto;
    border-radius: 8px;
    box-shadow: var(--border-style);
}

.logo h1 a {
    font-size: 24px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width:650px) {
    .logo {
        margin: 16px auto;
    }
}

.btn {
    color: inherit;
}

.container {
    max-width: 512px;
    max-height: 60vh;
    overflow: auto;
    margin: 28px auto 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--border-style);
}

.list {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid gray;
}

.inline-p {
    padding: 4px;
    font-size: 18px;
    margin-bottom: 0;
}

.name {
    flex: 3;
}

.owe,
.faicon {
    flex: 0;
    color: var(--main-color);
}

.faicon:hover {
    color: var(--seco-color);
}

.money {
    flex: 1;
}

.get-money {
    color: green;
}

.pay-money {
    color: red;
}

.info {
    text-align: center;
    font-style: oblique;
}

.score {
    max-width: 512px;
    margin: 12px auto 6px;
    display: flex;
    justify-content: flex-end;
}

.score h6 {
    font-weight: bold;
    margin-inline: 6px;
    padding-bottom: 2px;
    border-bottom: 4px solid var(--main-color);
}

/* MODIFY PAGE */

.container-modify {
    padding: 2px 16px 10px;
}

/* MODAL PAGE */

.modal-body {
    padding-block: 0;
}

.btn-modal {
    background-color: var(--main-color);
    color: #fff;
    width: 48px;
    height: 48px;
    font-size: 36px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    border: none;
    line-height: 1;
    border-radius: 50%;
}

/* FORM STYLE */

.up-btn {
    background-color: var(--main-color);
    color: #fff;
}

.del-btn {
    background-color: darkred;
    color: #fff;
}

.btn-modal:hover {
    background-color: var(--back-color);
    color: var(--main-color);
}

.modal-title {
    color: var(--main-color);
}

.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--seco-color);
}

/* LOGIN */

.container-login {
    padding: 12px;
}

.login-content>p {
    text-align: justify;
    text-indent: 42px;
}

.login-content iframe {
    width: 100%;
    height: 280px;
    margin: 12px auto;
}

.google-login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    background: #fff;
    width: fit-content;
    margin: 12px auto;
    border: 1px solid var(--main-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 50px;
}

.google-login img {
    width: 42px;
    padding: 6px 6px 6px 12px;
}

.google-login span {
    font-size: 14px;
    color: gray;
    padding: 6px 12px 6px 6px;
}

.about-content p {
    text-align: justify;
    text-indent: 42px;
}

.social-media {
    width: fit-content;
    margin: 12px auto auto;
    border-top: 1px solid gray;
}

.social-media img {
    width: 28px;
    margin: 8px 2px;
}